In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

import re
import glob
import csv

import time

import nltk

from sklearn.externals import joblib

In [4]:
df = pd.read_csv('data/MeTooSTEM.csv')
print(df.head())

                    id      conversation_id     created_at        date  \
0  1115338964397895680  1115338964397895680  1554752505000  2019-04-08
1  1115335506097836033  1115335506097836033  1554751681000  2019-04-08
2  1115334978781569024  1115334978781569024  1554751555000  2019-04-08
3  1115330819185369100  1115330819185369100  1554750563000  2019-04-08
4  1115322598139867139  1115322598139867139  1554748603000  2019-04-08

       time timezone             user_id         username             name  \
0  15:41:45      EDT  834812681672605696         ljuba_pi      Liuba Papeo
1  15:28:01      EDT          3148749695  falla_alejandra  Alejandra Falla
2  15:25:55      EDT           340277194   chelsey_rhodes   Chelsey Rhodes
3  15:09:23      EDT           151161683  reneeisfabulous            Renee
4  14:36:43      EDT  968873186786979840      marionhogg2      Marion Hogg

  place        ...        retweet gif_url gif_thumb video_url video_thumb  \
0   NaN        ...            NaN     NaN       NaN       NaN         NaN
1   NaN        ...            NaN     NaN       NaN       NaN         NaN
2   NaN        ...            NaN     NaN       NaN       NaN         NaN
3   NaN        ...            NaN     NaN       NaN       NaN         NaN
4   NaN        ...            NaN     NaN       NaN       NaN         NaN

  is_quote_status             quote_id  \
0               0                    0
1               1  1115288010176761857
2               1  1115305418224545792
3               0                    0
4               0                    0

                                           quote_url  is_reply_to  \
0                                                NaN            0
1  https://twitter.com/mariamonic91/status/111528...            0
2  https://twitter.com/AnnOlivarius/status/111530...            0
3                                                NaN            0
4                                                NaN            0

   has_parent_tweet
0                 0
1                 0
2                 0
3                 0
4                 0

[5 rows x 32 columns]

In [5]:
print(df.tail())

                      id     conversation_id     created_at        date  \
8896  955468224203755523  955468224203755523  1516636351000  2018-01-22
8897  955097730765991937  955097730765991937  1516548018000  2018-01-21
8898  951807927190466561  951798169276436480  1515763668000  2018-01-12
8899  939256988101431296  939256988101431296  1512771291000  2017-12-08
8900  939253524059344896  939253524059344896  1512770465000  2017-12-08

          time timezone             user_id       username  \
8896  10:52:31      EDT          4562173852      sciencevs
8897  10:20:18      EDT           298619241    drcswilliam
8898  08:27:48      EDT  787836169811746820  shittymenlist
8899  17:14:51      EDT           298619241    drcswilliam
8900  17:01:05      EDT           298619241    drcswilliam

                     name place        ...        retweet gif_url gif_thumb  \
8896           Science Vs   NaN        ...            NaN     NaN       NaN
8897  Claudia William, MD   NaN        ...            NaN     NaN       NaN
8898        ShittyMenList   NaN        ...            NaN     NaN       NaN
8899  Claudia William, MD   NaN        ...            NaN     NaN       NaN
8900  Claudia William, MD   NaN        ...            NaN     NaN       NaN

     video_url video_thumb is_quote_status            quote_id  \
8896       NaN         NaN               0                   0
8897       NaN         NaN               1  954912872949141504
8898       NaN         NaN               1  951518544369512448
8899       NaN         NaN               0                   0
8900       NaN         NaN               0                   0

                                              quote_url  is_reply_to  \
8896                                                NaN            0
8897  https://twitter.com/TheMomoftheHour/status/954...            0
8898  https://twitter.com/annawaymack/status/9515185...            1
8899                                                NaN            0
8900                                                NaN            0

      has_parent_tweet
8896                 0
8897                 0
8898                 1
8899                 0
8900                 0

[5 rows x 32 columns]

In [6]:
df.describe()

,id,conversation_id,created_at,user_id,replies_count,retweets_count,likes_count,location,retweet,is_quote_status,quote_id,is_reply_to,has_parent_tweet
count,8.901000e+03,8.901000e+03,8.901000e+03,8.901000e+03,8901.000000,8901.000000,8901.000000,0.0,0.0,8901.000000,8.901000e+03,8901.000000,8901.000000
mean,1.066191e+18,1.065554e+18,1.543035e+12,3.032811e+17,0.720930,4.280643,14.493315,NaN,NaN,0.316706,3.374774e+17,0.256376,0.256376
std,3.318776e+16,3.514883e+16,7.912578e+09,4.417201e+17,3.725931,19.115036,111.482696,NaN,NaN,0.465218,4.961886e+17,0.436656,0.436656
min,9.392535e+17,2.045999e+17,1.512770e+12,1.024200e+04,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000e+00,0.000000,0.000000
25%,1.045350e+18,1.044248e+18,1.538066e+12,5.047823e+08,0.000000,0.000000,1.000000,NaN,NaN,0.000000,0.000000e+00,0.000000,0.000000
50%,1.067856e+18,1.067644e+18,1.543432e+12,2.155745e+09,0.000000,1.000000,3.000000,NaN,NaN,0.000000,0.000000e+00,0.000000,0.000000
75%,1.096993e+18,1.096741e+18,1.550379e+12,8.512929e+17,1.000000,3.000000,10.000000,NaN,NaN,1.000000,1.036685e+18,1.000000,1.000000
max,1.115339e+18,1.115339e+18,1.554753e+12,1.113899e+18,252.000000,901.000000,8882.000000,NaN,NaN,1.000000,1.115305e+18,1.000000,1.000000

In [8]:
df.dtypes

id                    int64
conversation_id       int64
created_at            int64
date                 object
time                 object
timezone             object
user_id               int64
username             object
name                 object
place                object
tweet                object
tags                 object
replies              object
mentions             object
urls                 object
photos               object
replies_count         int64
retweets_count        int64
likes_count           int64
location            float64
hashtags             object
link                 object
retweet             float64
gif_url              object
gif_thumb            object
video_url            object
video_thumb          object
is_quote_status       int64
quote_id              int64
quote_url            object
is_reply_to           int64
has_parent_tweet      int64
dtype: object

In [10]:
print(df['tweet'].head)

<bound method NDFrame.head of 0       ‚ÄúThe biggest success of the #MeTooSTEM site is...
1       Muchas gracias a @mariamonic91 y al @elespecta...
2       Awesome interview with @McLNeuro on #MeTooSTEM...
3       BethAnn McLaughlin: ‚ÄòToo many women in science...
4       Great talk from Celeste Kidd today highlightin...
5       So pumped to finally release that @MeTooSTEM i...
6       Watch out NYC! #MeTooSTEM is coming to town!  ...
7               #MeTooSTEM  https://youtu.be/rMqayQ-U74s¬†
8       I am so excited to march with @McLNeuro and @M...
9       Have written @robertsala63, dir of @iphes in T...
10      "What does redemption look like? Is there a wa...
11      Getting rid of @DataCamp until they rectify wh...
12      ‚ÄúHarassment of women in #STEM is the worst of ...
13      We're excited to participate in the #MeTooSTEM...
14      ‚ÄúThe biggest success of the #MeTooSTEM site is...
15      Organizing some books for @McLNeuro's Seattle ...
16      at Apr 6 #ExpBio @APSPhysiology @SciPolAPS sym...
17      Representing! #EGU19 #MeTooSTEM  pic.twitter.c...
18      I‚Äôm so sorry Amy. Stand in power üí™ we stand wi...
19      Does ‚Äúzero tolerance‚Äù mean you put a sexual pr...
20      I will be Tweeting often about this #MeToo #Me...
21      "We want universities to start investing in #M...
22      RTing myself for the Monday crowd: Thoughts on...
23      Why does @iphes in Tarragona, Spain, have accu...
24      BethAnn McLaughlin: ‚ÄòToo many women in science...
25      "Women like neuroscientist BethAnn McLaughlin ...
26      "Don‚Äôt enable harassholes by collaborating wit...
27      Having heard more and more stories from #MeToo...
28      the awesome @McLNeuro tellin' it like it is #M...
29      #metooSTEM campaigner BethAnn McLaughlin: ‚ÄòToo...
                              ...
8871    Important thread. With an invitation to share ...
8872    I should be poster boy for #MeToo: Woody Allen...
8873            #Dietlandchat #jennifer #metoo #MeTooSTEM
8874    My Name Is Jen  #MeTooSTEM ‚ÄúI could only wear ...
8875    In DC, maybe some @500womensci would be intere...
8876    @kateclancy I am reading @NatGeo article on #M...
8877    Your Story Matters #MeTooSTEM  https://metoost...
8878    My Name Is Sam #MeTooSTEM  ‚ÄúMy application for...
8879    MeToo STEM  http://drugmonkey.scientopia.org/2...
8880    Thank you @debivort  Anyone in STEM harassed o...
8881    #MeTooSTEM My Name Is Anne  "When I got to the...
8882    Her name is 'Jen'.  "I now believe the institu...
8883    The Washington Post is likely doing a story th...
8884    "Sam" Shares her Story of Sexual Harassment an...
8885    Please visit #MeTooSTEM  http://metoostem.word...
8886    In awe of the determination and commitment of ...
8887    let's re-center this conversation on the peopl...
8888    Try this link to #metoostem  https://metoostem...
8889    YES!! This is courage and strength üí™üèªüí™üèΩüí™üèæüí™üèø‚ù§Ô∏èüëè...
8890    #metoo #MeTooPhD #Metoomovement #metooSTEM #PR...
8891    I also helped set up a new project to honor st...
8892    Every day. Every blessed day I get this crap. ...
8893    Attention @ScholarCitizen, @RUWomensStudies,@R...
8894    #astroSH #MeToo #metooStem  https://www.space....
8895    #metooSTEM  https://twitter.com/jannypie/statu...
8896    Seeking stories from female scientists who hav...
8897    #MeToo #MeTooSTEM #WomenInSTEM  I hate reading...
8898    REPORT ALLLLLLL THE HARASSMENT - see thread be...
8899    If u r a victim of sexual violence there is so...
8900    Why do we need to talk about this?  Every 98 s...
Name: tweet, Length: 8901, dtype: object>

In [13]:
df['text'] = df['tweet']

In [14]:
# 'http' matches literal characters
# '\S+' matches all non-whitespace characters (the end of the url)

# remove http links
df['text'] = df['text'].str.replace('http\S+', '', case=False)

# remove www links
df['text'] = df['text'].str.replace('www.\S+', '', case=False)

# remove twitter pics
df['text'] = df['text'].str.replace('pic.twitter.com\S+', '', case=False)

In [15]:
# remove hashtags
df['text'] = df['text'].str.replace('#\S+', '', case=False)

# remove users
df['text'] = df['text'].str.replace('@\S+', '', case=False)

# remove ‚Ä¶
df['text'] = df['text'].str.replace('‚Ä¶','')

In [16]:
print(df['text'].head)

<bound method NDFrame.head of 0       ‚ÄúThe biggest success of the  site is in us act...
1       Muchas gracias a  y al  por compartir mi histo...
2                   Awesome interview with  on  issues  ¬†
3       BethAnn McLaughlin: ‚ÄòToo many women in science...
4       Great talk from Celeste Kidd today highlightin...
5       So pumped to finally release that  is going to...
6                    Watch out NYC!  is coming to town!
7                                                       ¬†
8       I am so excited to march with  and  at  NYC pe...
9       Have written  dir of  in Tarragona, asking why...
10      "What does redemption look like? Is there a wa...
11      Getting rid of  until they rectify what they h...
12      ‚ÄúHarassment of women in  is the worst of any s...
13      We're excited to participate in the  workshops...
14      ‚ÄúThe biggest success of the  site is in us act...
15      Organizing some books for  Seattle workshop.  ...
16      at Apr 6    symposium, was happy 2 hv met  cha...
17                                      Representing!
18      I‚Äôm so sorry Amy. Stand in power üí™ we stand wi...
19      Does ‚Äúzero tolerance‚Äù mean you put a sexual pr...
20      I will be Tweeting often about this   story th...
21      "We want universities to start investing in  c...
22      RTing myself for the Monday crowd: Thoughts on...
23      Why does  in Tarragona, Spain, have accused se...
24      BethAnn McLaughlin: ‚ÄòToo many women in science...
25      "Women like neuroscientist BethAnn McLaughlin ...
26      "Don‚Äôt enable harassholes by collaborating wit...
27      Having heard more and more stories from  and f...
28      the awesome  tellin' it like it is       BethA...
29       campaigner BethAnn McLaughlin: ‚ÄòToo many wome...
                              ...
8871    Important thread. With an invitation to share ...
8872        I should be poster boy for  Woody Allen  ¬†
8873
8874    My Name Is Jen   ‚ÄúI could only wear baggy swea...
8875      In DC, maybe some  would be interested?       ¬†
8876     I am reading  article on  in the salon today ...
8877                          Your Story Matters   ¬† via
8878    My Name Is Sam   ‚ÄúMy application for tenure wa...
8879                                      MeToo STEM  ¬†
8880    Thank you   Anyone in STEM harassed or assault...
8881     My Name Is Anne  "When I got to the restauran...
8882    Her name is 'Jen'.  "I now believe the institu...
8883    The Washington Post is likely doing a story th...
8884    "Sam" Shares her Story of Sexual Harassment an...
8885    Please visit   ¬† If you can answer seven quest...
8886    In awe of the determination and commitment of ...
8887    let's re-center this conversation on the peopl...
8888                                 Try this link to   ¬†
8889    YES!! This is courage and strength üí™üèªüí™üèΩüí™üèæüí™üèø‚ù§Ô∏èüëè...
8890                                                    ¬†
8891    I also helped set up a new project to honor st...
8892     Every day. Every blessed day I get this crap.
8893    Attention      students! C‚Äômon out to discuss ...
8894                                                    ¬†
8895                                                    ¬†
8896    Seeking stories from female scientists who hav...
8897        I hate reading these stories bc there are ...
8898    REPORT ALLLLLLL THE HARASSMENT - see thread be...
8899    If u r a victim of sexual violence there is so...
8900    Why do we need to talk about this?  Every 98 s...
Name: text, Length: 8901, dtype: object>

In [18]:
print(df.head())

                    id      conversation_id     created_at        date  \
0  1115338964397895680  1115338964397895680  1554752505000  2019-04-08
1  1115335506097836033  1115335506097836033  1554751681000  2019-04-08
2  1115334978781569024  1115334978781569024  1554751555000  2019-04-08
3  1115330819185369100  1115330819185369100  1554750563000  2019-04-08
4  1115322598139867139  1115322598139867139  1554748603000  2019-04-08

       time timezone             user_id         username             name  \
0  15:41:45      EDT  834812681672605696         ljuba_pi      Liuba Papeo
1  15:28:01      EDT          3148749695  falla_alejandra  Alejandra Falla
2  15:25:55      EDT           340277194   chelsey_rhodes   Chelsey Rhodes
3  15:09:23      EDT           151161683  reneeisfabulous            Renee
4  14:36:43      EDT  968873186786979840      marionhogg2      Marion Hogg

  place                        ...                         gif_url gif_thumb  \
0   NaN                        ...                             NaN       NaN
1   NaN                        ...                             NaN       NaN
2   NaN                        ...                             NaN       NaN
3   NaN                        ...                             NaN       NaN
4   NaN                        ...                             NaN       NaN

  video_url video_thumb is_quote_status             quote_id  \
0       NaN         NaN               0                    0
1       NaN         NaN               1  1115288010176761857
2       NaN         NaN               1  1115305418224545792
3       NaN         NaN               0                    0
4       NaN         NaN               0                    0

                                           quote_url  is_reply_to  \
0                                                NaN            0
1  https://twitter.com/mariamonic91/status/111528...            0
2  https://twitter.com/AnnOlivarius/status/111530...            0
3                                                NaN            0
4                                                NaN            0

   has_parent_tweet                                               text
0                 0  ‚ÄúThe biggest success of the  site is in us act...
1                 0  Muchas gracias a  y al  por compartir mi histo...
2                 0              Awesome interview with  on  issues  ¬†
3                 0  BethAnn McLaughlin: ‚ÄòToo many women in science...
4                 0  Great talk from Celeste Kidd today highlightin...

[5 rows x 33 columns]

In [19]:
df['name'].value_counts()

McLNeuro                                  1064
MeTooSTEM                                  403
boyswillbeaccountable                      372
Kalynda Gonzales Stokes PhD                201
Michael Balter                             179
CharterForHealthcare                       147
Amelia McLNeuro                            127
Dr Mel Thomson                             100
Tisha Bohr üß´üî¨                               94
deanna ÿØŸäŸÜÿß                                 79
Dr. Teresa Swanson                          78
Julie Libarkin                              69
Dr. Sherry Marts                            68
Swedish Doctors' Metoo Movement             63
Debra DeLoach üçÑüêøÔ∏è                           58
Angie NMNH                                  58
Ana Safavi, MD                              58
Kelsey Priest, PhD, MPH                     57
Sister                                      53
ADVANCEGeo                                  52
Emily Myers                                 51
Gary McDowell                               48
Dr. Kim Barrett                             47
Marni Dee Sheppeard                         46
CaliLili‚Ñ¢üßúüèæüßúüèΩ‚Äç‚ôÄÔ∏èüßú‚Äç‚ôÄÔ∏èüê¨üèÑüèº‚Äç‚ôÄÔ∏èüèÑüèø‚Äç‚ôÄüå±ü¶Äüé¨üéº          44
Dr. Alicia P√©rez-Porro                      43
Sarah Smaga                                 41
Needhi Bhalla üíÖüèΩ                            41
Dr. P                                       40
Sciencing Bi                                40
                                          ...
Trendsmap Seattle                            1
Mike conan                                   1
Heather Buschman                             1
Tami Dew Rich                                1
Ana Ribeiro                                  1
Laura Osburn                                 1
Unf*ck Science                               1
Jahan Sagafi                                 1
Krishna Mudumbi                              1
Susan Lomas                                  1
Titio do Devin Nunes                         1
Open Therapeutics                            1
Andrea                                       1
Independent Research                         1
David Paquette                               1
M R B                                        1
Towns And Chambers                           1
awiley90                                     1
Prof. Franciska de Vries                     1
Asteria                                      1
Jay P                                        1
Dr. Nora Mitchell üåª                          1
Eisa Nefertari Ulen                          1
Andrea Eidinger, Ph.D.                       1
Waging Nonviolence                           1
Steven Asch                                  1
"Wally" Xie (Ëß£È™Ö)                             1
City Science Group                           1
Jen Biddle                                   1
5tolifepod-PhD STEM Podcast @SciTalk19       1
Name: name, Length: 2164, dtype: int64

In [20]:
df['date'].value_counts()

2018-06-12    331
2018-10-14    138
2018-11-03    129
2019-02-27    120
2018-06-26    118
2019-02-28    115
2019-02-15    114
2019-02-22    110
2018-10-13     99
2018-12-13     98
2018-10-12     95
2019-02-26     94
2019-04-06     88
2018-11-04     87
2018-11-09     81
2019-01-31     80
2019-02-20     77
2018-10-16     75
2019-02-21     73
2019-02-14     73
2019-03-01     72
2018-11-15     72
2019-02-13     72
2018-11-06     71
2018-10-11     70
2019-02-16     66
2019-03-13     65
2018-11-27     64
2018-11-30     63
2018-11-16     63
             ...
2018-12-15      6
2018-07-26      6
2018-07-10      6
2018-07-05      6
2018-08-16      6
2018-08-25      6
2018-12-24      5
2018-09-08      5
2018-07-07      5
2018-09-14      5
2018-08-30      5
2018-07-25      5
2018-09-02      4
2018-08-11      3
2018-09-09      3
2018-08-02      3
2018-07-31      3
2018-08-15      3
2018-08-01      2
2018-01-22      2
2017-12-08      2
2018-05-30      2
2018-10-27      2
2018-02-04      1
2018-05-28      1
2018-05-29      1
2018-03-16      1
2018-07-29      1
2018-01-12      1
2018-01-21      1
Name: date, Length: 318, dtype: int64