In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

import re
import glob
import csv

import time

import nltk

from sklearn.externals import joblib

In [2]:
df = pd.read_csv('data/sexualMisconduct_science.csv')
print(df.head())
print(df.shape)

  Last Update  Year of First Incident  Year            Name  \
0     10/1/18                  1975.0  1981    Harry Keller
1     8/17/18                     NaN  1982  Leonard Levitt
2     8/17/18                     NaN  1982    Barry Singer
3     8/17/18                     NaN  1983             NaN
4     8/17/18                     NaN  1983   NAME WITHHELD

  Multiple Institutions/Positions (repeat misconduct)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Administrator, Department, Faculty, Researcher, Coach Position Title  \
0                                            Faculty         Professor
1                                            Faculty               NaN
2                                            Faculty               NaN
3                                         Department               NaN
4                                            Faculty               NaN

            Discipline or Domain Institution and/or Professional Society  \
0                        Physics                        St. Olaf College
1  Chemistry / Biochemistry (13)             University of Texas-El Paso
2                     Psychology  California State University-Long Beach
3                        Anatomy                      University of Iowa
4                     Psychology                  University of Michigan

                        Details of Outcome           Outcome  \
0    "COLLEGE ACTED TO END HIS EMPLOYMENT"             fired
1                                   FIRED.             fired
2  SUSPENDED FOR DATING STUDENTS/RESIGNED.  resigned/retired
3       LEGAL FINDING OF SEXUAL HARASSMENT         no action
4                                RESIGNED.  resigned/retired

                                             Link(s)
0  https://www.manitoumessenger.com/2017/former-p...
1  http://openjurist.org/847/f2d/221/levitt-v-uni...
2  http://www.upi.com/Archives/1982/06/03/Sex-pro...
3  http://www.leagle.com/decision/19901695749FSup...
4  http://www.thecrimson.com/article/1983/11/10/h...
(190, 12)

In [3]:
print(df.tail())

    Last Update  Year of First Incident  Year              Name  \
185     8/17/18                     NaN  2018    William Kelley
186     8/17/18                     NaN  2018    Brian Schrader
187     8/17/18                  2014.0  2018  Charles Johnston
188     8/17/18                     NaN  2018      Eric Samuels
189     8/17/18                     NaN  2018    Robert Kurzban

    Multiple Institutions/Positions (repeat misconduct)  \
185                                                NaN
186                                                NaN
187                                                NaN
188                                                NaN
189                                                NaN

    Administrator, Department, Faculty, Researcher, Coach Position Title  \
185                                            Faculty               NaN
186                                            Faculty               NaN
187                                            Faculty               NaN
188                                            Faculty               NaN
189                                            Faculty               NaN

    Discipline or Domain Institution and/or Professional Society  \
185           Psychology                       Dartmouth College
186           Psychology                Emporia State University
187           Psychology                          Harper College
188           Psychology     University of California – Berkeley
189           Psychology              University of Pennsylvania

                                    Details of Outcome  \
185  RECOMMENDATIONS MADE AND UPHELD BY REVIEW COMM...
186                 VIOLATED SEXUAL HARASSMENT POLICY.
187  THREE-DAY UNPAID SUSPENSION AND PSYCHIATRIC EV...
188  UNIVERSITY SETTLED LAWSUIT (REPORTS OF $250K S...
189                                           RESIGNED

                                 Outcome  \
185                     resigned/retired
186                            no action
187                            suspended
188  lawsuit settled/monetary punishment
189                     resigned/retired

                                               Link(s)
185  RECOMMENDATIONS MADE AND UPHELD BY REVIEW COMM...
186  http://www.kansascity.com/news/politics-govern...
187  http://www.dailyherald.com/news/20180131/ex-ha...
188  https://www.mercurynews.com/2018/03/26/uc-sett...
189  https://www.phillyvoice.com/penn-professor-kur...

In [4]:
df.describe()

       Year of First Incident         Year
count               24.000000   190.000000
mean              2007.916667  2008.868421
std                 12.967909     9.753499
min               1975.000000  1981.000000
25%               2009.750000  2002.250000
50%               2013.500000  2013.500000
75%               2016.000000  2017.000000
max               2018.000000  2018.000000

In [5]:
df.dtypes

Last Update                                               object
Year of First Incident                                   float64
Year                                                       int64
Name                                                      object
Multiple Institutions/Positions (repeat misconduct)       object
Administrator, Department, Faculty, Researcher, Coach     object
Position Title                                            object
Discipline or Domain                                      object
Institution and/or Professional Society                   object
Details of Outcome                                        object
Outcome                                                   object
Link(s)                                                   object
dtype: object

In [6]:
discipline = []
discipline = df['Discipline or Domain'].value_counts()
print(discipline)

Medicine (includes Anatomy, Physiology, Psychiatry, Dentistry, Pharmacology/Pharmacy, Radiography, Biomedical, Clinical Science; Doctors Treating Students in Campus Facilities) (35)    36
Psychology                                                                                                                                                                               35
Bioscience (includes disciplines that study non-human organisms such as entomology, genetics, microbiology, etc.) (25)                                                                   25
Mathematics/Statistics (17)                                                                                                                                                              17
Chemistry / Biochemistry (13)                                                                                                                                                            13
Geoscience/Geography (includes Meteorology) (10)                                                                                                                                         10
Physics (7)                                                                                                                                                                               7
Computer Science (includes Information Science) (7)                                                                                                                                       7
Engineering (7)                                                                                                                                                                           7
Physics                                                                                                                                                                                   3
Astronomy (3)                                                                                                                                                                             3
Neuroscience (3)                                                                                                                                                                          3
Veterinary Medicine (3)                                                                                                                                                                   3
Anatomy                                                                                                                                                                                   2
Geography                                                                                                                                                                                 2
Computer Science                                                                                                                                                                          2
Dentistry                                                                                                                                                                                 2
Bioresource and Agricultural Engineering                                                                                                                                                  1
Chemical and Biomolecular Engineering                                                                                                                                                     1
Biochemistry                                                                                                                                                                              1
Medicine                                                                                                                                                                                  1
Biology                                                                                                                                                                                   1
Biomedical, industrial and human factors engineering                                                                                                                                      1
Osteopathic Medicine                                                                                                                                                                      1
Plant Research                                                                                                                                                                            1
Bioscience, Entomology                                                                                                                                                                    1
Microbiology                                                                                                                                                                              1
Engineering                                                                                                                                                                               1
Computing, Engineering, and Construction                                                                                                                                                  1
Psychiatry                                                                                                                                                                                1
Name: Discipline or Domain, dtype: int64

In [16]:
institution = []
institution = df['Institution and/or Professional Society'].value_counts()
print(institution)

Yale University                                                 6
Dartmouth College                                               4
University of California – Los Angeles                          4
University of Kentucky                                          4
University of Georgia                                           3
University of California-Berkeley                               3
Stanford University                                             3
Michigan State University                                       3
University of North Florida                                     2
University of California – San Francisco                        2
California Polytechnic State University                         2
Iowa State University                                           2
University of Texas                                             2
Weber State University                                          2
Texas A&M University                                            2
College of Charleston                                           2
University of Iowa                                              2
Columbus State Community College                                2
University of California – Berkeley                             2
Purdue University                                               2
Ohio University                                                 2
University of Southern California                               2
University of Pennsylvania                                      2
Harvard University                                              2
University of California – Davis                                2
University of Missouri at Kansas City                           2
Columbia University                                             2
University of Florida                                           2
Wilkes University.                                              1
Cabrillo College College                                        1
                                                               ..
Brevard Community College                                       1
University of Minnesota-Duluth                                  1
Temple University                                               1
University of North Alabama                                     1
Florida State University                                        1
Harper College                                                  1
Southern University                                             1
Foothill-De Anza Community College                              1
Arizona State University                                        1
University of Pittsburgh                                        1
Case Western Reserve University                                 1
Albany State University                                         1
North Dakota State College of Science-Wahpeton                  1
Paradise Valley Community College                               1
Sacramento State University                                     1
The New School for Social Research (NSSR)                       1
Antelope Valley College.                                        1
Washington University at St. Louis                              1
Smithsonian Institution’s National Museum of Natural History    1
Emporia State University                                        1
Princeton University                                            1
West Chester University of Pennsylvania                         1
Massachusetts Institute of Technology                           1
Cal Tech                                                        1
Pennsylvania State University – Wilkes-Barre                    1
Salisbury University                                            1
Ohio State University                                           1
Farleigh Dickinson University                                   1
St. Phillip’s College                                           1
University of Nebraska-Lincoln                                  1
Name: Institution and/or Professional Society, Length: 148, dtype: int64

In [7]:
df['Name'].value_counts()

Lawrence Krauss                                      3
Barry Singer                                         1
John Earnhardt                                       1
Debasis Chaudhuri                                    1
Pavel Naumov                                         1
Jonathan Hatch                                       1
Alexander Wells                                      1
Christopher Romanek                                  1
Harry Keller                                         1
Charles H. Hennekens                                 1
Robert Bell                                          1
NAME WITHHELD (faculty in mechanical engineering)    1
Rohit Varma                                          1
Walker S. Carlos Poston II                           1
Matthew Sedlak                                       1
Michael Katze                                        1
Jason Lieb                                           1
H. Daniel Cohen                                      1
Joshua Young Moon                                    1
Tarun Bhardwaj                                       1
Muata Weusi-Puryear                                  1
Robin Bowers                                         1
William Derkley Strampel                             1
Toshiki Itoh                                         1
Jay Boisseau                                         1
Timothy Frederick Slater                             1
Donna Laird                                          1
Glenn Parker                                         1
Eric Smart                                           1
John Scott                                           1
                                                    ..
Hany Fam                                             1
Vishal Lamba                                         1
Dorrance W. Larson                                   1
NAME WITHHELD                                        1
Robert Kurzban                                       1
Mike A. Crider                                       1
Alan Schreiber                                       1
Charles Johnston                                     1
Lorne Wolf                                           1
Larry Nassar                                         1
John Scamehorn                                       1
Jason Alan Williams                                  1
Asterious Doukoudakis                                1
Ernesto Bustamante                                   1
Joshua Smith                                         1
Todd Heatherton                                      1
Terry Speed                                          1
Mark Tumeo                                           1
Eric Samuels                                         1
Paul Whalen                                          1
James O’Toole                                        1
Philip Jemilohun                                     1
Tarundeep Sandhu                                     1
Darrick Danta                                        1
Ken Stephens                                         1
Louis Burnett                                        1
Michael Gaylor                                       1
Andrew Kortyna                                       1
Craig VanderPloeg                                    1
Thomas Winter                                        1
Name: Name, Length: 186, dtype: int64

In [9]:
outcome = []
outcome = df['Outcome'].value_counts()
print(outcome)

resigned/retired                       67
fired                                  41
suspended                              16
no action                              16
arrested/imprisoned/convicted          16
demoted/reprimanded                    11
lawsuit settled/monetary punishment     8
banned from premesis                    5
death                                   5
resgned                                 1
jury award                              1
repimanded                              1
nothing                                 1
banned from premisis                    1
Name: Outcome, dtype: int64